@import "normalize";
@import "compass";

$supported-browsers:chrome,firefox,ie,safari,opera;
$browser-minimum-versions:("ie":"8");

$lte-ie:true !default;
.clearfix {
  @if $lte-ie {
    *zoom: 1;
  }
  &:before,
  &:after{
    content: "";
    display: table;
  }
  &:before,
  &:after{
    clear: both;
    overflow: hidden;
  }
}

ul{
  padding: 0px;
}
a{
  @include unstyled-link();
}


body {margin:0;paddding:0;    font: 14px  "Myriad Set Pro","Microsoft YaHei","Helvetica Neue",Helvetica Neue,Helvetica,Hiragino Sans GB,tahoma,arial,sans-serif;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:14px; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}