@charset "UTF-8";

.jn_findpassword{
  background: #f8f9fb;

  .findpassword_c{
    padding: 45px 50px;
  }
  .find-pd{
    width: 1200px;
    margin: 0px auto;
    background: #fff;

    .find-pd_title{
      padding: 30px 50px;
      .title-ws {
        height: 30px;
        border-bottom: 1px solid #e5e5e5;
      }
      .find-wsd-con{
        margin: 60px 0 50px 0;
      }
    }
  }

  .width918-rzb {
    width: 918px;
  }
  .stepflex {
    text-align: center;
  }
  .stepflex {
    border-top: 4px solid #ccc;
    text-align: center;
    margin: 30px auto;
    width: 918px;
  }
  .stepflex .width306-add {
    width: 306px;
  }



  /* line 25, ../sass/layout/_find-password.scss */
  .stepflex dl {
    float: left;
    position: relative;
    width: 202px;
    top: -4px;
    border-top: 4px solid #ccc;
  }

  /* line 33, ../sass/layout/_find-password.scss */
  dl.doing {
   border-top-color: #007cea;
  }

  /* line 37, ../sass/layout/_find-password.scss */
  .s-num {
    position: relative;
    margin: -15px auto 0;
    color: #fff;

    width: 24px;
    height: 25px;
    background: url(../../images/common/step_find_03.png) no-repeat -999px -999px;
    line-height:26px;
  }

  /* line 48, ../sass/layout/_find-password.scss */
  .doing .s-num {
    background-position: -24px 0;
  }

  /* line 52, ../sass/layout/_find-password.scss */
  .normal.doing .s-num {
    background-position: -24px 0;
  }

  /* line 56, ../sass/layout/_find-password.scss */
  .doing b, .doing s, .first s, .last b {
    width: 4px;
    height: 4px;
    position: absolute;
    line-height: 0;
    font-size: 0;
    top: -4px;
    background: url(../images/ste-img1.png) no-repeat -999px -999px;
    overflow: hidden;
  }

  /* line 67, ../sass/layout/_find-password.scss */
  .first s {
    background-position: 0px -7px;
    background-color: #fff;
  }

  /* line 72, ../sass/layout/_find-password.scss */
  .last b {
    background-position: -6px 0px;
    background-color: #fff;
  }

  /* line 77, ../sass/layout/_find-password.scss */
  .doing b {
    background-position: -6px -7px;
  }

  /* line 81, ../sass/layout/_find-password.scss */
  .stepflex b {
    right: 0;
  }

  /* line 85, ../sass/layout/_find-password.scss */
  .stepflex {
    text-align: center;
  }

  /* line 89, ../sass/layout/_find-password.scss */
  dt {
    text-align: center;
  }

  /* line 93, ../sass/layout/_find-password.scss */
  .stepflex s {
    left: 0;
  }

  /* line 97, ../sass/layout/_find-password.scss */
  .doing.last .s-num {
    background-position: -80px 0;
  }

  /* line 101, ../sass/layout/_find-password.scss */
  .last .s-num {
    background-position: -52px 0;
  }

  /* line 105, ../sass/layout/_find-password.scss */
  .normal .s-num {
    background-position: 2px 0;
  }

  /* line 109, ../sass/layout/_find-password.scss */
  .doing.last s, .doing.normal s {
    background-color: #fcae26;
  }

  /* line 113, ../sass/layout/_find-password.scss */
  .s-text {
    color: #ccc;
    font-size: 14px;
    line-height: 24px;
  }

  /* line 119, ../sass/layout/_find-password.scss */
  .doing .s-text {
    color: #0a8cff;
  }

  /* line 123, ../sass/layout/_find-password.scss */
  .selct-con {
    text-align: center;
  }

  /* line 128, ../sass/layout/_find-password.scss */
  .btn-sel .text-c {
    display: inline-block;
    width: 387px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #fcae26;
    background: #fff;
    text-align: center;
    line-height: 40px;
    color: #5e5e5e;
    font-size: 14px;
  }
  /* line 140, ../sass/layout/_find-password.scss */
  .btn-sel .text-c .icon {
    padding-right: 5px;
    color: #a0a0a0;
    font-size: 18px;
  }

  .mn-top23{
    margin-top: 100px;
    .form-box-fd{
      margin: 0 auto;
      width: 500px;
      .box1-same{
        position: relative;
        margin-bottom: 30px;


      }
      .box1-same1{
        margin-top: 50px;
      .btn_bg-c{
        display: inline-block;
        background:#0a8cff;
        width: 390px;
        text-align:center;
        height: 40px;
        line-height: 40px;
        color: #fff;
      }
      }

      .input-text-f{
        width: 375px;
        border: 1px solid #e5e5e5;
        color: #333;
        padding-left: 13px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        outline: 0;
      }
      .tishi-jn{
        position: absolute;
        top: 45px;
        color: red;
      }
      .hqyz_i{
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 41px;
        text-align: center;
        color: #FFFFFF;
        background: #f93;
        border: 1px solid #e5e5e5;
        margin-left: -5px;
        cursor: pointer;
      }
      .short_text-iput{
        width: 253px;
      }
      .text-cente-s{
        margin-left: 100px;
        font-size: 20px;
        margin-top: 17px;
        color: #333;
      }
      .img-imgbg{
        img{
          text-align: center;
          margin: 0px auto;
          padding-left: 157px;
        }
      }
    }
  }


}

