@charset "UTF-8";
/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc: header scss
 *@time:2016/6/28 16:02
 **/

/*header top line color*/
$headerTopLineColor:#1f1f1f;

/*header tabbar current color */
$headerTabberCurrentColor:#ff9933;

/*placeholder color*/
$placeholderColor:#999;

.indexHeader{
  .headerTopBlack{
    height: 35px;
    width: 100%;
    background-color: $headerTopLineColor;
  }
  .headerContainer {
    height: 90px;
    width: 100%;
    background-color: #fff;
  }
  .headerLists{
    width: 1200px;
    margin: 0 auto;
  }
  .headerLogo{
    float: left;
    margin: 23px 45px 0 0;
  }
  .headerTabbars{
    float: right;
    height: 90px;
  }

  .headerList{
    display: block;
    float: left;
    padding: 35px 25px 0 25px;
    text-align: center;
    color: black;
    text-decoration: none;
    height: 51px;
    font-size: 16px;
    &:hover{
      color: $headerTabberCurrentColor;
      border-bottom: 1px solid $headerTabberCurrentColor;
      border-width: 4px;
    }
  }
  .tabberCurrent{
    color: $headerTabberCurrentColor;
    border-bottom: 1px solid $headerTabberCurrentColor;
    border-width: 4px;
  }
  .searchForm{
    float: right;
    margin-top: 32px;
  }
  .searchIcon{
    position: relative;
    left: 127px;
    top: -26px;
    color: #a2a2a2;
  }
  .headerSearch{
    float: right;
    width: 150px;
    height: 90px;
  }
  .searchInput{
    width: 141px;
    height: 23px;
    font-size: 12px;
    color: $placeholderColor;
  }
  .top-tell-tiem{
    float: left;
  }

  .login-nav-con{
    float: right;
  }
  .ttbord{
    border-left:1px solid #363636;
    border-right:1px solid #363636;
  }
  .ttiem1{
    float: left;
    height: 17px;
    color: #a0a0a0;
    padding: 9px 10px;
    font-size: 12px;
    cursor: pointer;
    &:hover{
      color: #fff;
    }
  }

  .imoTop{
    width: 16px;
    margin-left: 10px;
    height: 6px;
    margin-top: 8px;
    background: url(../img/imoImg.png) 0px 0px no-repeat;
    overflow: hidden;
    &:hover{
      background-size: 26px;
      background-position: 0px -20px;
    }
  }
}


.wxSMBoxTop{
  border: 1px solid #e5e5e5;
  display: none;
  @include border-radius(5px);
  padding: 10px;
  position: absolute;
  z-index: 2000;
  background-color: #fff;
  top: 32px;
  left: 470px;
  text-align: center;

}
.sanjiao{
  width: 0px;
  height: 0px;
  border: 15px solid;
  border-top: 10px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  color: #fff;
  position: absolute;
  top: -17px;
  left: 75px;
}
.wxBLBoxTop{
  border: 1px solid #e5e5e5;
  display: none;
  @include border-radius(5px);
  padding: 10px;
  position: absolute;
  z-index: 2000;
  background-color: #fff;
  top: 30px;
  left: 430px;
  text-align: center;
}
 /*********************** new module Name End **************************************/