@charset "UTF-8";
@import "compass/css3/opacity";
@import "compass";

/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc: swiper scss
 *@time:2016/6/26 17:55
 **/
img{
  vertical-align: top;
}
li{
  list-style: none;
}

#focus-banner{
  position: relative;
  width: 100%;
  overflow: hidden;
}

#focus-banner-list{
  position: relative;
  margin: 0px;
  padding: 0px;
}
#focus-banner-list li{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#focus-banner-list li img{
  width: 100%;
}
.focus-banner-img{
  display: block;
}

#focus-banner-list .focus-banner-text{
  position: absolute;
  left: 50%;
  top: 0;
  width: 1000px;
  height: 100%;
  margin-left: -500px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

#focus-banner .focus-handle{
  position: absolute;
  top: 50%;
  margin-top: -40px;
  z-index: 100;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("../../images/common/focus_handle.png");
}
#next-img{
  left: 2%;
  background-position: 0 0;
}
#next-img:hover{
  background-position: 0 -80px;
}
#prev-img{
  right: 0;
}
#prev-img{
  right: 2%;
  background-position: -80px 0;
}
#prev-img:hover{
  background-position: -80px -80px;
}

#focus-bubble{
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 999;
}
#focus-bubble li{
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border:1px #fff solid;
  cursor: pointer;
  behavior: url(javascripts/PIE/PIE.htc);
}
#focus-bubble li.current{
  background-color: #ff9933;
  border-color: #ff9933;
}

 /*********************** new module Name End **************************************/

/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc:home content scss
 *@time:2016/6/27 9:38
 **/
.indexContentBox{
  width: 1200px;
  margin: 0 auto;
}
.contentItem1{
  margin: 39px 0;
  height: 180px;
  .coni1{
    float: left;
    height: 178px;
    width: 398px;
    border: 1px solid  #4075df;
  }
  .coni2{
    float: left;
    height: 180px;
    width: 400px;


  }


  $indexContentBoxShadowColor:#0174db;

  .coni2bg1{
    background-color: #007cea;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*兼容ie*/
    -moz-box-shadow: 0px 1px 5px $indexContentBoxShadowColor;/*兼容firefox*/
    -webkit-box-shadow:0px 1px 5px $indexContentBoxShadowColor;/*兼容safari或chrome*/
    box-shadow:0px 1px 5px $indexContentBoxShadowColor;/*兼容opera或ie9*/

    &:hover{
      background-color: #0584f5;
    }
  }
  .coni2bg2{
    background-color: #0174db;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#0174db,direction=120,strength=4);/*兼容ie*/
    -moz-box-shadow: 0px 1px 5px $indexContentBoxShadowColor;/*兼容firefox*/
    -webkit-box-shadow:0px 1px 5px $indexContentBoxShadowColor;/*兼容safari或chrome*/
    box-shadow:0px 1px 5px $indexContentBoxShadowColor;/*兼容opera或ie9*/

    &:hover{
      background-color: #057ee9;
    }
  }


  .txtBox{
    margin: 20px 58px 0px 40px;
    height: 89px;
    border-bottom: 1px solid #a0a0a0;
    .txt1{
      font-size: 20px;
      color: green;
      line-height: 32px;
    }
    .txt2{
      font-size: 14px;
      color: #1f1f1f;
    }
  }

  .txt1BtnBox{
    margin: 16px 58px 0 40px;
    .txt1Btn{
      border:1px solid #0077e0;
      width: 112px;
      height: 28px;
      cursor: pointer;
    }
    .tbb1Box{
      float: left;
      width: 80px;
      height: 28px;
      line-height: 28px;
      background-color: #000;
      text-align: center;
    }
    .tbb2Box{
      float: left;
      height: 28px;
      line-height: 28px;
      width: 32px;
      background-color: #0077e0;
      text-align: center;
    }
    .tbb2{
      color: #fff;
    }
    .tbb1{
      font-size: 13.18px;
      color: #fff;
    }
  }

}

.coni2img1{
  width: 85px;
  height: 61px;
  margin:25px auto 20px auto;
  background:url('../../images/common/indexspring.png') 0 0 no-repeat
}
.coni2img2{
  width: 74px;
  height: 61px;
  margin: 25px auto 20px;
  background: url('../../images/common/indexspring.png') -87px 2px no-repeat;
}


.coni2txt1{
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.ci2Box{
  position: relative;
  float: left;
  width: 388px;
  height: 258px;
  border:1px solid #eaeaea;
  overflow: hidden;
}
.ci2bbContent{
  position: absolute;
  top: 0px;
  width: 388px;
  height: 258px;
  cursor: pointer;
}

.coni2txt2{
  color: #fff;
  font-size: 14px;
  text-align: center;
  @include opacity(0.3);
  line-height: 40px;
}
.contentItem2{
  height: 260px;
  margin-bottom: 15px;
}
.ci2right{
  margin-right: 15px;
}

.ci2bbg1 {
  width: inherit;
  height: inherit;
  background-image: url("../../images/common/indexCon1.jpg");
}

.ci2bbg2 {
  width: inherit;
  height: inherit;
  background-image: url("../../images/common/indexCon2.jpg");
}
.ci2bbg3{
  width: inherit;
  height: inherit;
  background-image: url("../../images/common/indexCon3.jpg");
}

.ci2bbg4{
  width: inherit;
  height: inherit;
  background-image: url("../../images/common/indexCon4.jpg");
}

.ci2bbg5{
  width: inherit;
  height: inherit;
  background-image: url("../../images/common/indexCon5.jpg");
}
.ci2bbg6{
  width: inherit;
  height: inherit;
  background-image: url("../../images/common/indexCon6.jpg");
}

.ci2bbgItem1{
  margin: 0 auto;
  width: 65px;
  height: 70px;
  padding-top: 70px;
  background: url(../../images/common/indexspring.png) -159px 70px no-repeat;
}

.ci2bbgItem1-2{
  margin: 0 auto;
  width: 80px;
  height: 70px;
  padding-top: 70px;
  background: url(../../images/common/indexspring.png) -222px 70px no-repeat;
}

.ci2bbgItem2{
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.ci2bbgItem3{
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}

.ci2bbgItem4{
  width: 138px;
  height: 28px;
  margin:0 auto;
  .ci2bbgItem3Btn{
    border: 1px solid #fff;
    width: 138px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    &:hover{
      background:#fff;
      filter:Alpha(opacity=30);
      background-color: rgba(255,255,255,0.3);
      border:none;
    }
  }


  .ci2bbgItem3BtnCurrent{
    background:#fff;
    filter:Alpha(opacity=30);
    background-color: rgba(255,255,255,0.3);
    border:none;
  }



  .ci2bbgItem3BtnT{
    color: #fff;
    font-size: 14px;
  }
}

.moveLeftBox{
  width: 777px;
  height: 258px;
  position: absolute;
  left: -388px;

  .mlb1{
    width: 388px;
    height: 258px;
    background-color:#000;
    //background-color: rgba(0,0,0,0.6);
  }
  .mlb2{
    width: 388px;
    height: 258px;
  }

  .playBtn{
    background: url(../../images/common/playerIcon.png) no-repeat;
    height: 62px;
    width: 62px;
    position: relative;
    left: 46%;
    top: 35%;
    filter:Alpha(opacity=100);
    opacity: 1;
  }
}

.ci2bgBottomBox{
  background: url(../../images/common/blackline.png)  repeat;
  width: 390px;
  height: 41.6px;
  position: relative;
  top: 217px;
  left: -1px;
}
.bottomTxt1{
  float: left;
  color: #fff;
  font-size: 20px;
  margin-left: 25px;
  height: 41.6px;
  line-height: 42px;
}



.bottomTxt2{
  float: left;
  color: #fff;
  margin-left: 3px;
  font-size: 14px;
  line-height: 50px;
}

.bottomImg{
  float: right;
  width: 20px;
  height: 20px;
  margin: 11px;
  cursor: pointer;
  background: url(../../images/common/indexspring.png) 0px -125px no-repeat;
}

/*index web site announcement*/
.contentItem3{
  height: auto;
  margin: 20px 0 30px 0;
}

.ci3Box{
  width: 100%;
  height: 326px;
  background-color: #f8f8f8;
}
.ci3leftBox{
  float: left;
  width: 814px;
  height: 277px;
  position: relative;
  background-color: #0a8cff;
}
.ci3rightBox{
  float: right;
  width: 353px;
  height: 277px;
  position: relative;
  background-color: #f8f8f8;
}
.ci3List2left{
  float: left;
  width: 279px;
  height: 176px;
  color: #fff;
}

.ci3List2left{
  width: 279px;
  height: 176px;
}
.ci3List2right{
  float: right;
  width: 462px;
  color: #fff;
  .ci3li {
    height: 42px;
    border-bottom-style: dotted;
    border-width: 1px;
    border-color: #e1e1e1;
    line-height: 42px;
    &:hover {
      color: #cee8ff;
    }
  }
  .ci3liT1{
    float: left;
  }
  .ci3liT2{
    float: right;
  }
}

.ci3BoxImgBg{
  background: url(../../images/common/indexspring.png) -24px -117px no-repeat;
  width: 35px;
  height: 40px;
}
.ci3BoxImgBg2{
  background: url(../../images/common/indexspring.png) -24px -117px no-repeat;
  width: 35px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.ci3List1{
  float: left;
  width: 312px;
  height: 223px;
  padding: 27px 20px;
  border-right:1px solid #e3e3e3;

}
.ci3List2{
  float: left;
  width: 464px;
  height: 246px;
  margin: 0 75px;
}

.ci3lTitles2 {
  height: 50px;
  .ci3T1-1T1{
    font-size: 20px;
    color: #333;
  }
  .ci3T1-1T2{
    font-size: 14px;
    color: #ccc;
  }

  .ci3T1{
    float: left;
  }
  .ci3TAddImg{
    float: right;
    width: 26px;
    height: 26px;
    color: #d8d8d8;
    border: 1px solid #e5e5e5;
    text-align: center;
    font-size: 31px;
    line-height: 22px;
    margin-top: 17px;
    cursor: pointer;
    &:hover{
      color: #fd7800;
      border: 1px solid #fd7800;
    }
  }
}

.ci3lTitles{
  height: 55px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 9px;
  .ci3T1-1T1{
    font-size: 20px;
    color: #333;
  }
  .ci3T1-1T2{
    font-size: 14px;
    color: #ccc;
  }

  .ci3T1{
    float: left;
  }
  .ci3TAddImg{
    float: right;
    width: 26px;
    height: 26px;
    color: #d8d8d8;
    border: 1px solid #e5e5e5;
    text-align: center;
    font-size: 31px;
    line-height: 22px;
    margin-top: 17px;
    cursor: pointer;
    &:hover{
      color: #fd7800;
      border: 1px solid #fd7800;
    }
  }
}
.ci3List{
  .ci3li{
    height: 42px;
    border-bottom-style:dotted;
    border-width: 1px;
    border-color: #e1e1e1;
    &:hover{
      color:#fd7800;
    }
  }

  .ci3liT1{
    float: left;
    line-height: 45px;
    color: #333;
    &:hover{
      color:#fd7800;
    }
  }
  .ci3liT1Current{
    color: #fd7800;
  }


  .ci3liT2{
    float: right;
    line-height: 45px;
    color: #999;
  }
}
 /*********************** new module Name End **************************************/

/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc:rightMenu
 *@time:2016/6/29 9:57
 **/
 .rightMenu{
   width: 46px;
   height:190px;
   position: fixed;
   top:50%;
   right: 10%;
   .qqm{
     font-size: 27px;
     color: #fff;
     position: relative;
     top: 7px;
   }
 }


 .rightMenu{
   z-index: 30;
   .menu{
     width: 46px;
     height: 46px;
     margin-bottom: 1px;
     background-color: #484848;
     text-align: center;
     cursor: pointer;
     &:hover{
       background-color: #f35027;
     }

     .imoRight{
       display: block;
       width: 46px;
       height: 25px;
       background: url(../../images/common/imoImg.png) 9px -23px no-repeat;
       position: relative;
       top: 11px;

     }
   }


   .menuWX{
     position: absolute;
     display: none;
     top: -145px;
     left: -177px;
     width: 177px;
     height: 200px;
     padding: 10px 0px;
     background: url("../../images/common/menuBg.png") no-repeat;
     text-align: center;
   }

 }


 /*********************** new module Name End **************************************/


/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc:new index page scss
 *@time:2016/7/5 16:29
 **/
.bgf8f8f8{
  background-color: #f8f8f8;
}
 .contentItem4{
   padding: 90px 0 100px 0;
   .conItems1{
     width: 571px;
     height: 366px;
   }
   .conItems2{
     width: 629px;
     height: 366px;
     background-color: #fff;
   }

   .indexTabUl{
     border-top:2px solid #0a8cff;
   }
   .indexTabBg{
     float: left;
     width: 156px;
     height: 34px;
     color: #7e7e7e;
     font-size: 14px;
     line-height: 34px;
     text-align: center;
     cursor: pointer;
     background-color: #f6f6f6;
     overflow: hidden;
   }

   .indexTabCurrent{
     background-color: #0a8cff;
     color: #fff;
     overflow: hidden;
   }
   .tabAnim{
     position: relative;
   }

 }
 .con-border-left{
   border-left: 1px solid #fff;
 }
 .con-left{
   float: left;
 }
 .con-right{
   float: right;
 }

.indexTabContentBox{
  .itcRightBox{
    border: 1px solid;
    width: 78px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    margin-top: 10px;
    @include border-radius(12px);
  }
  .itcT1{
    font-size: 16px;
    color: #302f2b;
    cursor: pointer;
    &:hover{
      color: #ff9933;
    }
  }
  .itcT2{
    font-size: 14px;
    color: #a0a0a0;
    cursor: pointer;
  }
  .itcUl{
    padding: 5px 30px 20px 48px;
  }
  .itcLi{
    margin-top: 20px;
  }


  .activeColor{
    border-color: #acc546;
    font-size: 14px;
    color: #acc546;
  }
  .willColor{
    border-color: #0a8cff;
    font-size: 14px;
    color: #0a8cff;
  }
  .endColor{
    border-color: #a0a0a0;
    font-size: 14px;
    color: #a0a0a0;
  }
}
.itcMore{
  width: 98px;
  height: 24px;
  background-color: #0a8cff;
  color: #fff;
  @include border-radius(12px);
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  &:hover{
    color: #fff;
    border:1px solid #fff;
    background-color: #ff9933;
  }
}

.contentItem51{
  .cit5ContentBox{
    padding: 20px 20px 0px 15px;
    height: 176px;
    position: relative;
  }

  .cit5ConT1{
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
    cursor: pointer;
    &:hover{
      color: #ff9933;
    }
  }
  .cit5ConT2{
    font-size: 12px;
    color: #000;
    line-height: 20px;
    cursor: pointer;
  }

  .cit5ConT3{
    position: absolute;
    line-height: 13px;
    color: #000;
    cursor: pointer;
    top: 173px;
  }
}

.contentItem5{
  width: 277px;
  height: 356px;
  border: 1px solid #e3e3e3;
  float: left;
}


.MGTOP75{
  margin-top: 75px;
}
.MGLEFT30{
  margin-left: 28px;
}
.contentItem6{

}
 /*********************** new module Name End **************************************/

/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc:底部滚动图片
 *@time:2016/7/6 10:41
 **/
#subjects {
  height: 400px;
  background-color: #e0e2e4;
}

#subjects .g-wrap a {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-opacity: 1;
  opacity: 1;
  display: block\9;
  -webkit-transition: left 300ms, -webkit-opacity 700ms;
  transition: left 300ms, opacity 700ms;
}

#subjects .g-wrap .item-1 {
  z-index: 1;
  background-color: #c8c8c8;
}

#subjects .g-wrap .item-2 {
  z-index: 2;
  background-color: #ffd900;
}

#subjects .g-wrap .item-3 {
  z-index: 3;
  background-color: #fc433e;
}

#subjects .g-wrap .item-4 {
  z-index: 4;
  background-color: #2d2d58;
}

#subjects .g-wrap .item-5 {
  z-index: 5;
  background-color: blue;
}

#subjects .g-wrap a span {
  position: absolute;
  background: no-repeat 0 0;
}

#subjects .g-wrap .p2 {
  -webkit-opacity: 0;
  opacity: 0;
  display: none\9;
  -webkit-transition: -webkit-opacity 400ms;
  transition: opacity 400ms;
}

#subjects .g-wrap .item-1 .p1 {
  left: 0;
  top: 0;
  width: 493px;
  height: 165px;
}

#subjects .g-wrap .item-1 .p2 {
  left: 276px;
  top: 68px;
  z-index: 2;
  width: 189px;
  height: 29px;
}
/*#subjects .g-wrap .item-2 .p1 {
    left: 61px;
    top: 21px;
}*/

#subjects .g-wrap .item-2 .p2 {
  left: 250px;
  top: 26px;
}
/*#subjects .g-wrap .item-3 .p1 {
    left: 20px;
    top: 56px;
    width: 77px;
    height: 76px;
}*/

#subjects .g-wrap .item-3 .p2 {
  left: 150px;
  width: 282px;
  height: 122px;
}
/*#subjects .g-wrap .item-4 .p1 {
    left: 23px;
    top: 54px;
    width: 182px;
    height: 80px;
}*/

#subjects .g-wrap .item-4 .p2 {
  left: 227px;
  top: 21px;
  width: 245px;
  height: 122px;
}
/*#subjects*/

#subjects .trans a {
  -webkit-opacity: 0;
  opacity: 0;
  display: none\9;
}
/* 逐个出现 */

#subjects .ready .item-2 {
  transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  -ms-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
}

#subjects .ready .item-3 {
  transition-delay: 150ms;
  -webkit-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
}

#subjects .ready .item-4 {
  transition-delay: 150ms;
  -webkit-transition-delay: 450ms;
  -ms-transition-delay: 450ms;
  -moz-transition-delay: 450ms;
}

#subjects .ready .item-5 {
  transition-delay: 150ms;
  -webkit-transition-delay: 450ms;
  -ms-transition-delay: 450ms;
  -moz-transition-delay: 450ms;
}
/* 没有指向 */

#subjects .state-0 .item-1 {
  left: 0;
}

#subjects .state-0 .item-2 {
  left: 200px;
}

#subjects .state-0 .item-3 {
  left: 400px;
}

#subjects .state-0 .item-4 {
  left: 600px;
}

#subjects .state-0 .item-5 {
  left: 800px;
}
/* 指向第一个 */

#subjects .state-1 .item-1 {
  left: 0;
}

#subjects .state-1 .item-2 {
  left: 395px;
}

#subjects .state-1 .item-3 {
  left: 600px;
}

#subjects .state-1 .item-4 {
  left: 800px;
}

#subjects .state-1 .item-5 {
  left: 1000px;
}

#subjects .state-1 .item-1 .p2 {
  -webkit-opacity: 1;
  opacity: 1;
  display: block\9;
}
/* 指向第二个 */

#subjects .state-2 .item-1 {
  left: 0;
}

#subjects .state-2 .item-2 {
  left: 200px;
}

#subjects .state-2 .item-3 {
  left: 600px;
}

#subjects .state-2 .item-4 {
  left: 800px;
}

#subjects .state-2 .item-5 {
  left: 1000px;
}

#subjects .state-2 .item-2 .p2 {
  -webkit-opacity: 1;
  opacity: 1;
  display: block\9;
}
/* 指向第三个 */

#subjects .state-3 .item-1 {
  left: 0;
}

#subjects .state-3 .item-2 {
  left: 205px;
}

#subjects .state-3 .item-3 {
  left: 405px;
}

#subjects .state-3 .item-4 {
  left: 805px;
}

#subjects .state-3 .item-5 {
  left: 1005px;
}

#subjects .state-3 .item-3 .p2 {
  -webkit-opacity: 1;
  opacity: 1;
  display: block\9;
}
/* 指向第四个 */

#subjects .state-4 .item-1 {
  left: 0;
}

#subjects .state-4 .item-2 {
  left: 212px;
}

#subjects .state-4 .item-3 {
  left: 425px;
}

#subjects .state-4 .item-4 {
  left: 637px;
}

#subjects .state-4 .item-5 {
  left: 1005px;
}

#subjects .state-4 .item-4 .p2 {
  -webkit-opacity: 1;
  opacity: 1;
  display: block\9;
}
/* 指向第五个 */

#subjects .state-5 .item-1 {
  left: 0;
}

#subjects .state-5 .item-2 {
  left: 195px;
}

#subjects .state-5 .item-3 {
  left: 395px;
}

#subjects .state-5 .item-4 {
  left: 595px;
}

#subjects .state-5 .item-5 {
  left: 800px;
}

#subjects .state-5 .item-5 .p2 {
  -webkit-opacity: 1;
  opacity: 1;
  display: block\9;
}
/* 滑块 end */

.g-wrap {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  overflow: hidden;
}

.g-wrap-p2-p {
  font-size: 18px;
  left: 200px !important;
  color: #fff;
  position: relative;
  text-align: center;
  line-height: 30px;
  width: 200px;
  height: 400px;
  padding-top: 158px;
}
 /*********************** new module Name End **************************************/