@charset "UTF-8";
@import "compass";
/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad_hu
 *@desc:qi ye dong tai
 *@time:2016/7/1 15:44
 **/
.qydtMoreBox{
  border-top:1px solid #e5e5e5;
}
.qydtMoreLi{
  height: 68px;
  border-bottom:1px solid #e5e5e5;
  line-height: 68px;
  cursor: pointer;

}

.qydtMTitle{
  float: left;
  color: #302f2b;
  &:hover{
    color: #ff9933 !important;
  }
}
.qydtMTime{
  float: right;
  color: #5e5e5e;
}


.qydtIconCOl{
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #a0a0a0;

  @include border-radius(4px);
  margin: 0 10px;
  position: relative;
  top: -2px;
}
 /*********************** new module Name End **************************************/