@charset "UTF-8";
@import "compass";
/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Caorh
 *@desc:
 *@time:2016/7/1 11:26
 **/
.fwqtTabs .fw_width{
  width: 50% !important;
}

.yqdt_Con{
  padding-bottom: 30px;

  .line{
    height: 1px;
    background: #e5e5e5;
  }
  .yq_dt_con_i{
    margin-top: 33px;
    overflow: hidden;
    padding-bottom: 35px;
    border-bottom: 2px solid #e5e5e5;
.left_text{
  float: left;
  width: 538px;
  .time_l{
    font-size: 34px;
    color: #5e5e5e;
  }
  .name_n{
    font-size: 28px;
    color: #000000;
    line-height: 95px;
  }
  .con_text{
    font-size: 14px;
    line-height: 24px;
    color: #5e5e5e;
  }
  .btn_qx_a{
    margin-top: 50px;
    .btn_qx_item{
      display: inline-block;
      width: 520px;
      height: 40px;
      line-height: 40px;
      background: #f6f6f6;
      color: #008dfd;
      text-align: center;
      border: 1px solid #e5e5e5;
      cursor: pointer;
    }
  }
}
    .right_img_dt{
      float: right;
      img{
        width: 597px;
        height: 323px;
      }
    }
}
  .wenz_list_con{
   // margin-top: 72px;
    .ck_qx_btn{
      width: 1000px;
      text-align: center;
      margin-top: 30px;
      .more_btn{
        display: inline-block;
        border:1px solid #e5e5e5;
        width: 180px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #1f1f1f;
        font-size: 16px;
        cursor: pointer;
      }
      .more_btn:hover{
        background: #007cea;
        color: #fff;
      }
    }
    .yq_list_item{
      padding: 30px 0;
      border-bottom: 1px dashed #e5e5e5;

    .list_text{
      float: left;
      margin-left:30px;
      .title_text{
        font-size: 18px;
        color: #333;
        cursor: pointer;
      }
      .title_text:hover{
        color: #008dfd;
      }
      .text_t{
        width: 978px;
        font-size: 14px;
        color: #686868;
        line-height: 24px;
        margin-top: 10px;
        cursor: pointer;
      }
      .text_t:hover{
        color: #008dfd;
      }
    }
  }
  }
}
.tiem_box_t{
  float: left;

  .date{
    width: 75px;
    height: 50px;
    background: #eae7e2;
    line-height: 50px;
    display:block;
    color: #000;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #fff;
  }
  .year_mouth{
    display: inline-block;
    width: 75px;
    height: 23px;
    line-height: 23px;
    background: #eae7e2;
    color: #000;
    text-align: center;
  }
}

.con_left_q{
  float: left;
  .left_fl_one{
    float: left;
  }
  .title_c{
    float: left;
    width: 760px;
    margin-left: 34px;

    margin-bottom: 35px;
   h3{
      font-size: 20px;
      color: #000;
    }
    p{
      color: #5e5e5e;
      font-size: 14px;
      line-height: 24px;
      margin-top: 15px;
    }

    .line_q{
      border-bottom: 1px solid #e5e5e5;
      margin: 25px 0;
    }
    .con_text_txt{
      margin: 30px 0;
    }
  }
  .page_wz_pre{
    padding-top: 20px;
    border-bottom: 1px solid #f1f1f1;
    .next_font{
      float: left;
      color: #a0a0a0;
      font-size: 14px;
    }
    .lib_con{
      float: right;
      color: #a0a0a0;
      font-size: 14px;
    }
  }
}
.con_right_q{
  float: right;
  border: 1px solid #e5e5e5;
  .box_title_r{
    width:278px ;
    background: #008dfd;
    height: 46px;
    padding: 10px;
    .title{
      font-size: 20px;
      color: #fff;
    }
    .f_title{
      font-size: 14px;
      color: #fff;
    }
  }
  .text_list_w{
    li{
      line-height: 47px;
      border-bottom: 1px dashed #e5e5e5;
      color: #000000;
      margin: 0 10px 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 269px;
      cursor: pointer;
    }
    li a:hover{
     color: #008dfd;
    }
  }
}
 /*********************** new module Name End **************************************/


