@charset "UTF-8";
/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc:home page header scss
 *@time:2016/6/26 15:16
 **/
/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc: swiper scss
 *@time:2016/6/26 17:55
 **/
img {
  vertical-align: top;
}

li {
  list-style: none;
}

#focus-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#focus-banner-list {
  position: relative;
  margin: 0px;
  padding: 0px;
}

#focus-banner-list li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#focus-banner-list li img {
  width: 100%;
}

.focus-banner-img {
  display: block;
}

#focus-banner-list .focus-banner-text {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1000px;
  height: 100%;
  margin-left: -500px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

#focus-banner .focus-handle {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  z-index: 100;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("../img/focus_handle.png");
}

#next-img {
  left: 2%;
  background-position: 0 0;
}

#next-img:hover {
  background-position: 0 -80px;
}

#prev-img {
  right: 0;
}

#prev-img {
  right: 2%;
  background-position: -80px 0;
}

#prev-img:hover {
  background-position: -80px -80px;
}

#focus-bubble {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 999;
}

#focus-bubble li {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 1px #fff solid;
  cursor: pointer;
  behavior: url(component/PIE/PIE.htc);
}

#focus-bubble li.current {
  background-color: #ff9933;
  border-color: #ff9933;
}

/*********************** new module Name End **************************************/
/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc:home content scss
 *@time:2016/6/27 9:38
 **/
.indexContentBox {
  width: 1200px;
  margin: 0 auto;
}

.contentItem1 {
  margin: 39px 0;
  height: 180px;
}
.contentItem1 .coni1 {
  float: left;
  height: 178px;
  width: 398px;
  border: 1px solid  #4075df;
}
.contentItem1 .coni2 {
  float: left;
  height: 180px;
  width: 400px;
}
.contentItem1 .coni2bg1 {
  background-color: #007cea;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);
  /*兼容ie*/
  -moz-box-shadow: 0px 1px 5px #0174db;
  /*兼容firefox*/
  -webkit-box-shadow: 0px 1px 5px #0174db;
  /*兼容safari或chrome*/
  box-shadow: 0px 1px 5px #0174db;
  /*兼容opera或ie9*/
}
.contentItem1 .coni2bg1:hover {
  background-color: #0584f5;
}
.contentItem1 .coni2bg2 {
  background-color: #0174db;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#0174db,direction=120,strength=4);
  /*兼容ie*/
  -moz-box-shadow: 0px 1px 5px #0174db;
  /*兼容firefox*/
  -webkit-box-shadow: 0px 1px 5px #0174db;
  /*兼容safari或chrome*/
  box-shadow: 0px 1px 5px #0174db;
  /*兼容opera或ie9*/
}
.contentItem1 .coni2bg2:hover {
  background-color: #057ee9;
}
.contentItem1 .txtBox {
  margin: 20px 58px 0px 40px;
  height: 89px;
  border-bottom: 1px solid #a0a0a0;
}
.contentItem1 .txtBox .txt1 {
  font-size: 20px;
  color: #1f1f1f;
  line-height: 32px;
}
.contentItem1 .txtBox .txt2 {
  font-size: 14px;
  color: #1f1f1f;
}
.contentItem1 .txt1BtnBox {
  margin: 16px 58px 0 40px;
}
.contentItem1 .txt1BtnBox .txt1Btn {
  border: 1px solid #0077e0;
  width: 112px;
  height: 28px;
  cursor: pointer;
}
.contentItem1 .txt1BtnBox .tbb1Box {
  float: left;
  width: 80px;
  height: 28px;
  background-color: #000;
  text-align: center;
}
.contentItem1 .txt1BtnBox .tbb2Box {
  float: left;
  height: 28px;
  width: 32px;
  background-color: #0077e0;
  text-align: center;
}
.contentItem1 .txt1BtnBox .tbb2 {
  color: #fff;
  vertical-align: middle;
}
.contentItem1 .txt1BtnBox .tbb1 {
  font-size: 13.18px;
  color: #fff;
  vertical-align: middle;
}

.coni2img1 {
  width: 85px;
  height: 61px;
  margin: 25px auto 20px auto;
  background: url("../img/indexspring.png") 0 0 no-repeat;
}

.coni2img2 {
  width: 74px;
  height: 61px;
  margin: 25px auto 20px;
  background: url(../img/indexspring.png) -87px 2px no-repeat;
}

.coni2txt1 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.ci2Box {
  position: relative;
  float: left;
  width: 388px;
  height: 258px;
  border: 1px solid #eaeaea;
  overflow: hidden;
}

.ci2bbContent {
  position: absolute;
  top: 0px;
  width: 388px;
  height: 258px;
  cursor: pointer;
}

.coni2txt2 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  line-height: 40px;
}

.contentItem2 {
  height: 260px;
  margin-bottom: 15px;
}

.ci2right {
  margin-right: 15px;
}

.ci2bbg1 {
  width: inherit;
  height: inherit;
  background-image: url("../img/indexCon1.jpg");
}

.ci2bbg2 {
  width: inherit;
  height: inherit;
  background-image: url("../img/indexCon2.jpg");
}

.ci2bbg3 {
  width: inherit;
  height: inherit;
  background-image: url("../img/indexCon3.jpg");
}

.ci2bbg4 {
  width: inherit;
  height: inherit;
  background-image: url("../img/indexCon4.jpg");
}

.ci2bbg5 {
  width: inherit;
  height: inherit;
  background-image: url("../img/indexCon5.jpg");
}

.ci2bbg6 {
  width: inherit;
  height: inherit;
  background-image: url("../img/indexCon6.jpg");
}

.ci2bbgItem1 {
  margin: 0 auto;
  width: 65px;
  height: 70px;
  padding-top: 70px;
  background: url(../img/indexspring.png) -159px 70px no-repeat;
}

.ci2bbgItem1-2 {
  margin: 0 auto;
  width: 80px;
  height: 70px;
  padding-top: 70px;
  background: url(../img/indexspring.png) -222px 70px no-repeat;
}

.ci2bbgItem2 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.ci2bbgItem3 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}

.ci2bbgItem4 {
  width: 138px;
  height: 28px;
  margin: 0 auto;
}
.ci2bbgItem4 .ci2bbgItem3Btn {
  border: 1px solid #fff;
  width: 138px;
  height: 28px;
  text-align: center;
  cursor: pointer;
}
.ci2bbgItem4 .ci2bbgItem3Btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}
.ci2bbgItem4 .ci2bbgItem3BtnT {
  color: #fff;
  vertical-align: middle;
  font-size: 14px;
}

.moveLeftBox {
  width: 777px;
  height: 258px;
  position: absolute;
  left: -388px;
}
.moveLeftBox .mlb1 {
  width: 388px;
  height: 258px;
  background-color: rgba(0, 0, 0, 0.6);
}
.moveLeftBox .mlb2 {
  width: 388px;
  height: 258px;
}
.moveLeftBox .playBtn {
  background: url(../img/indexspring.png) -307px 0px no-repeat;
  height: 62px;
  width: 62px;
  position: relative;
  left: 40%;
  top: 32%;
}

.ci2bgBottomBox {
  background: url(../img/blackline.png) repeat;
  width: 390px;
  height: 41.6px;
  position: relative;
  top: 217px;
  left: -1px;
}

.bottomTxt1 {
  float: left;
  color: #fff;
  font-size: 20px;
  margin-left: 25px;
  height: 41.6px;
  line-height: 42px;
}

.bottomTxt2 {
  float: left;
  color: #fff;
  margin-left: 3px;
  font-size: 14px;
  line-height: 50px;
}

.bottomImg {
  float: right;
  width: 20px;
  height: 20px;
  margin: 11px;
  cursor: pointer;
  background: url(../img/indexspring.png) 0px -125px no-repeat;
}

/*index web site announcement*/
.contentItem3 {
  height: 326px;
  margin: 50px 0;
}

.ci3Box {
  width: 1200px;
  height: 326px;
  background-color: #f8f8f8;
}

.ci3BoxImgBg {
  background: url(../img/indexspring.png) -24px -117px no-repeat;
  width: 35px;
  height: 40px;
}

.ci3Lists {
  height: 286px;
}

.ci3List1 {
  float: left;
  width: 465px;
  height: 246px;
  padding: 0 80px 0 40px;
  border-right: 1px solid #e3e3e3;
}

.ci3List2 {
  float: left;
  width: 464px;
  height: 246px;
  margin: 0 75px;
}

.ci3lTitles {
  height: 55px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 9px;
}
.ci3lTitles .ci3T1-1T1 {
  font-size: 20px;
  color: #333;
}
.ci3lTitles .ci3T1-1T2 {
  font-size: 14px;
  color: #ccc;
}
.ci3lTitles .ci3T1 {
  float: left;
}
.ci3lTitles .ci3TAddImg {
  float: right;
  width: 26px;
  height: 26px;
  color: #d8d8d8;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 31px;
  line-height: 22px;
  margin-top: 17px;
  cursor: pointer;
}
.ci3lTitles .ci3TAddImg:hover {
  color: #fd7800;
  border: 1px solid #fd7800;
}

.ci3List .ci3li {
  height: 44px;
  border-bottom-style: dotted;
  border-width: 1px;
  border-color: #e1e1e1;
}
.ci3List .ci3li:hover {
  color: #fd7800;
}
.ci3List .ci3liT1 {
  float: left;
  line-height: 45px;
  color: #333;
}
.ci3List .ci3liT1:hover {
  color: #fd7800;
}
.ci3List .ci3liT1Current {
  color: #fd7800;
}
.ci3List .ci3liT2 {
  float: right;
  line-height: 45px;
  color: #999;
}

/*********************** new module Name End **************************************/
/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc:rightMenu
 *@time:2016/6/29 9:57
 **/
.rightMenu {
  width: 46px;
  height: 190px;
  position: fixed;
  top: 50%;
  right: 10%;
}
.rightMenu .qqm {
  font-size: 27px;
  color: #fff;
  position: relative;
  top: 7px;
}

.rightMenu {
  z-index: 30;
}
.rightMenu .menu {
  width: 46px;
  height: 46px;
  margin-bottom: 1px;
  background-color: #484848;
  text-align: center;
  cursor: pointer;
}
.rightMenu .menu:hover {
  background-color: #f35027;
}
.rightMenu .menu .imoRight {
  display: block;
  width: 46px;
  height: 25px;
  background: url(../img/imoImg.png) 9px -23px no-repeat;
  position: relative;
  top: 11px;
}

/*********************** new module Name End **************************************/
/*********************** new module Name End **************************************/
