.rzqydBoxLeft {
  float: left;
  width: 869px;
  height: auto;
}

.rzqydBoxRight {
  float: right;
  width: 285px;
  height: auto;
}

.articalBox {
  width: 100%;
}

.newsMenuRight {
  width: 240px;
  padding: 37px 20px 20px 25px;
}
