.rzqydBoxLeft, .bannerBoxs {
  float: left;
  width: auto;
  height: auto;
}

.rzqydBoxRight {
  float: right;
  width: 285px;
  height: auto;
}

.articalBox {
  width: 797px;
  padding: 30px 36px;
  background-color: #f8f8f8;
}

.articalFoot {
  height: 19px;
  margin: 30px 0 20px 0;
}

.footLeft {
  float: left;
}

.footRight {
  float: right;
}

.artfT1 {
  color: #a0a0a0;
}
.artfT1:hover {
  color: #ff9933;
}

.articalContent {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.articalTitle {
  padding-bottom: 31px;
  border-bottom: 1px solid #e5e5e5;
}

.artImg {
  margin: 40px 0;
}

.artConT {
  font-size: 14px;
  color: #302f2b;
}
.artConT p {
  text-indent: 2em;
  line-height: 23px;
  margin-bottom: 25px;
}

.titleLine1 {
  font-size: 24px;
  color: #302f2b;
}

.titleLine2 {
  font-size: 28px;
  color: #cccccc;
}

.newsMenuRight {
  width: 240px;
  padding: 38px 20px 20px 25px;
  background-color: #f8f8f8;
}

.newsMenuList {
  font-size: 14px;
}
.newsMenuList .nmLli {
  border-bottom-style: dotted;
  border-width: 1px;
  border-color: #e1e1e1;
  padding: 15px 0 9px 0;
}
.newsMenuList .nmlT1 {
  color: #333;
}
.newsMenuList .nmlT1:hover {
  color: #ff9933;
}
.newsMenuList .nmlT2 {
  color: #999;
}

.imgItems {
  margin: 65px 0;
  height: 1180px;
}

.imgItem {
  border: 1px solid #e5e5e5;
  width: 281px;
  float: left;
  background-color: #f8f8f8;
  margin-bottom: 50px;
}

.imgItemCon {
  width: 281px;
  height: 100px;
  text-align: center;
}
.imgItemCon .con01 {
  font-size: 16px;
  color: #1f1f1f;
  margin: 23px 0 15px 0;
}
.imgItemCon .con02Btn {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  background-color: #e6e6e6;
  line-height: 26px;
  color: #333;
  cursor: pointer;
}
.imgItemCon .con02Btn:hover {
  background-color: #008aff;
  color: #fff !important;
}
.imgItemCon .iconFontSan {
  position: absolute;
  color: #e6e6e6;
}
.imgItemCon .iconFontSan:hover {
  color: #fff;
}

.imgItemMore {
  width: 180px;
  height: 40px;
  color: #1f1f1f;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin: 50px auto 100px auto;
  cursor: pointer;
}
.imgItemMore:hover {
  background-color: #fd7800;
  color: #fff;
}
