/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc:yuan qu fu wo scss
 *@time:2016/6/30 11:53
 **/
.yqfwBox {
  margin: 77px 0 90px 0;
  height: 527px;
}
.yqfwBox .leftBox {
  float: left;
  height: 525px;
  width: 327px;
}
.yqfwBox .tabTitles {
  border-top: 2px solid #0a8cff;
}
.yqfwBox .title {
  float: left;
  width: 50%;
  height: 48px;
  background-color: #f6f6f6;
  color: #7e7e7e;
  font-size: 18px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}
.yqfwBox .titleCurrent {
  background-color: #0a8cff;
  color: #fff;
}
.yqfwBox .rightBox {
  float: right;
}
.yqfwBox .tabContents {
  border: 1px solid #e5e5e5;
  width: 325px;
  height: 475px;
}
.yqfwBox .tabContent {
  margin-top: 14px;
}
.yqfwBox .tabli {
  height: 26px;
  width: 313px;
  padding: 18px 0px;
  margin-left: 10px;
  border-bottom: 1px dotted #e5e5e5;
}
.yqfwBox .title1 {
  color: #302f2b;
  font-size: 14px;
  cursor: pointer;
}
.yqfwBox .title1:hover {
  color: #ff9933;
}
.yqfwBox .time {
  color: #a0a0a0;
  font-size: 14px;
}
.yqfwBox .tabmore {
  width: 100%;
  height: 83px;
  text-align: center;
  line-height: 83px;
}
.yqfwBox .tabmoreT {
  font-size: 14px;
  color: #ff9933;
}
.yqfwBox .tabmoreT:hover {
  border-bottom: 1px solid #ff9933;
}
.yqfwBox .rightBox {
  margin-left: 26px;
  width: 845px;
  height: 527px;
}
.yqfwBox .imgBoxLeft {
  float: left;
  width: 532px;
  height: 527px;
  overflow: hidden;
  position: relative;
}
.yqfwBox .iblBox1 {
  position: relative;
  width: 261px;
  height: 261px;
  float: left;
  overflow: hidden;
  cursor: pointer;
}
.yqfwBox .iblBox2 {
  cursor: pointer;
}
.yqfwBox .imgBoxRight {
  float: right;
  overflow: hidden;
  position: relative;
}
.yqfwBox .LOMGBOTH5 {
  margin: 0 5px;
}
.yqfwBox .LOMGTOP5 {
  margin-top: 5px;
}
.yqfwBox .moveBox {
  width: 522px;
  height: 261px;
  position: absolute;
  top: 0px;
  left: -261px;
}
.yqfwBox .moveBox2 {
  width: 626px;
  height: 527px;
  position: absolute;
  top: 0px;
  left: -313px;
}
.yqfwBox .mb1T1 {
  float: left;
  width: 261px;
  height: 261px;
  filter: Alpha(opacity=80);
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
}
.yqfwBox .mb1T2 {
  float: left;
  width: 261px;
  height: 261px;
  text-align: center;
}
.yqfwBox .operbga0 {
  filter: Alpha(opacity=80);
  background-color: #055195;
  background-color: rgba(5, 81, 159, 0.8);
}
.yqfwBox .operbga1 {
  filter: Alpha(opacity=80);
  background-color: #ff9933;
  background-color: rgba(255, 153, 51, 0.8);
}
.yqfwBox .operbga2 {
  background-color: #ef4f41;
  background-color: rgba(239, 76, 65, 0.8);
  filter: Alpha(opacity=80);
}
.yqfwBox .operbga3 {
  filter: Alpha(opacity=80);
  background-color: #30b4fc;
  background-color: rgba(48, 180, 252, 0.8);
}
.yqfwBox .operbga4 {
  filter: Alpha(opacity=80);
  background-color: #0a8cff;
  background-color: rgba(10, 140, 255, 0.8);
}
.yqfwBox .proMImg {
  height: 52px;
  width: 62px;
  margin: 50px 97px 20px 97px;
}
.yqfwBox .proMImg0 {
  background: url("../../images/common/yqfw01.png") 0 0 no-repeat;
}
.yqfwBox .proMImg1 {
  background: url("../../images/common/yqfw01.png") 0 -71px no-repeat;
}
.yqfwBox .proMImg2 {
  background: url("../../images/common/yqfw01.png") 0 -155px no-repeat;
}
.yqfwBox .proMImg3 {
  background: url("../../images/common/yqfw01.png") 0 -233px no-repeat;
}
.yqfwBox .proMImg4 {
  background: url("../../images/common/yqfw01.png") 0 -313px no-repeat;
}
.yqfwBox .proTitle {
  color: #fff;
  font-size: 24px;
  height: 47px;
  line-height: 47px;
}
.yqfwBox .proEn {
  font-size: 14px;
  color: #fff;
  height: 30px;
  line-height: 30px;
}
.yqfwBox .qidai {
  margin-top: 43%;
  font-size: 18px;
  margin-bottom: 10px;
}

/*********************** new module Name End **************************************/
