@charset "UTF-8";

/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-HU
 *@desc: public scss layout
 *@time:2016/6/29 10:32
 **/
.mainContentBox{
  width: 1200px;
  margin: 0 auto;
}

 /*********************** new module Name End **************************************/


/*********************** new module Name Start **************************************
 *@moduleName:
 *@author:Mad-hu
 *@desc:error form msg box
 *@time:2016/6/29 13:46
 **/

.signMsgBox{
  color: red;
  height: 30px;
  font-size: 14px !important;
}
 /*********************** new module Name End **************************************/